html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
.clearfix:before,.clearfix:after {
 	content: "";
 	display: block;
 	clear: both;
 	visibility: hidden;
 	line-height: 0;
 	height: 0;
 	font-size:0;
}
.clearfix {*zoom:1;}
.wrap{
	width: 100%;
}
.bigcar{
	width: 100%;
	padding-bottom: 40px;
}
.car{
	width: 975px;
	margin: auto;

}
.car>.one>a{
	text-decoration: none;
	font-size: 12px;
	line-height: 36px;
	width: 48px;
}
.car .one a:nth-child(1){
	width: 80px;
	display: block;
	float: left;
	text-indent: 15px;
	background-image: url(../images/sanjiao_14.jpg);
	background-repeat: no-repeat;
	background-position: 0 10px;
}
.car .one a:nth-child(2){
	width: 80px;
	display: block;
	float: left;
	text-indent: 15px;
	background-image: url(../images/yiwen_14.jpg);
	background-repeat: no-repeat;
	background-position: 0 10px;
}
.car>.one>span{
	font-size: 12px;
	line-height: 36px;
	float: right;
	color: #fca298;
    font-weight: 800;
}
.car>.one>span:nth-child(5),.zj{
	color: #ffa695;
	font-weight: 800;
}
.car .one .jiesuan {
	display: block;
	float: right;
	line-height: 29px;
	width: 78px;
	font-weight: 800;
	text-align: center;
	color: #fff;
	background-color: #83be24;
	border-radius: 5px;
}
.car>.one>ul input{
	display: block;
	float: left;
	margin-top: 13px;
	margin-left: 15px;
}
.car>.one>ul{
	list-style: none;
	background-color: #f7f8f3;
	float: left;
	border-top: 5px solid #f6f6f5;
}
.car>.one>ul li{
	font-size: 12px;
	float: left;
	padding-bottom: 16px;
	padding-top: 11px;
	font-weight: 800;
}
.car>.one>ul li:nth-child(2){
	width: 141px;
}
.car>.one>ul li:nth-child(3){
	width: 185px;
}
.car>.one>ul li:nth-child(4){
	width: 95px;
}
.car>.one>ul li:nth-child(5){
	width: 105px;
}
.car>.one>ul li:nth-child(6){
	width: 117px;
}
.car>.one>ul li:nth-child(7){
	width: 102px;
}
.car>.one>ul li:nth-child(8){
	width: 121px;
}
.car>.one>ul li:nth-child(9){
	width: 78px;
}
.car>.show .top .bottom{
	background-color: #f7f8f3;
	border: 1px solid #f6f6f5;
}
.clear{
	height: 22px;
}
.car>.show .top{
	padding-top: 15px;
	padding-bottom: 6px;
}
.car>.show .top>input{
	display: block;
	float: left;
	margin-left: 13px;
}
.car>.show .top>span:nth-child(2){
	display: block;
	float: left;
	font-size: 12px;
	margin-top: 3px;
}
.car>.show .top .name{
	display: block;
	float: left;
	color: #27c6ca;
	font-size: 12px;
	text-decoration: none;
	margin-top: 3px;
}
.car>.show .top>span:nth-child(4){
	margin-left: 31px;
	float: left;
	display: block;
	font-size: 12px;
	margin-top: 3px;
}
.car>.show .top>span:nth-child(6){
	float: right;
	display: block;
	color: #fca298;
	font-weight: 800;
	font-size: 12px;
}
.car>.show .top>span:nth-child(7){
	float: right;
	display: block;
	font-size: 12px;
}
.car>.show .top .money{
	float: right;
	color: #fca298;
	font-weight: 800;
	font-size: 12px;
	margin-right: 118px;
}
.car>.show .top .bottom input:first-child{
	display: block;
	float: left;
	margin-left: 29px;
	margin-top: 35px;
}
.car>.show .top .bottom>a:nth-child(2){
	display: block;
	float: left;
	margin-left: 11px;
	margin-top: 7px;
	padding: 4px;
	border: 1px solid #f0f0ee;
}
.car>.show .top .bottom p:nth-child(3){
	width: 188px;
	float: left;
	margin-left: 9px;
	line-height: 20px;
	font-size: 12px;
	color: #27c6ca;
	padding: 10px 0px;
}
.car>.show .top .bottom p:nth-child(3) span{
	color: #b2b2b0;
}
.car>.show .top .bottom>span:nth-child(4){
	display: block;
	float: left;
	margin-left: 34px;
	margin-top: 30px;
	font-size: 12px;
}
.car>.show .top .bottom>span:nth-child(5){
	display: block;
	float: left;
	margin-left: 60px;
	margin-top: 30px;
	color: #ff9783;
	font-size: 12px;
}
.car>.show .top .bottom>span:nth-child(6){
	display: block;
	float: left;
	margin-top: 30px;
	color: #ff9783;
	font-size: 12px;
}
.car>.show .top .bottom a:nth-child(7){
	display: block;
	float: left;
	margin-left: 33px;
	margin-top: 30px;
	text-decoration: none;
	padding: 0 6px;
	border: 1px solid #f4f4f3;
	background-color: #fff;
	font-size: 12px;
}
.car>.show .top .bottom input:nth-child(8){
	width: 30px;
	font-size: 12px;
	display: block;
	float: left;
	border: 1px solid #f4f4f3;
	text-align: center;
	line-height: 20px;
	margin-top: 28px;
	margin-left: 4px;
}
.car>.show .top .bottom>a:nth-child(9){
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 30px;
	text-decoration: none;
	padding: 0 4px;
	border: 1px solid #f4f4f3;
	background-color: #fff;
	font-size: 12px;
}
.car>.show .top .bottom>span:nth-child(10){
	display: block;
	float: left;
	margin-left: 83px;
	margin-top: 30px;
	font-size: 12px;
}
.car>.show .top .bottom>span:nth-child(11){
	display: block;
	float: left;
	margin-left: 83px;
	margin-top: 30px;
	color: #ff9783;
	font-weight: 800;
	font-size: 12px;
}
.car>.show .top .bottom>span:nth-child(12){
	display: block;
	float: left;
	margin-top: 30px;
	color: #ff9783;
	font-weight: 800;
	font-size: 12px;
}
.car>.show .top .bottom>p:nth-child(13){
	width: 99px;
	float: left;
	margin-left: 35px;
	font-size: 12px;
}
.car>.show .top .bottom p a{
	display: block;
	text-decoration: none;
	color: #a3cbce;
	line-height: 25px;
}
.car>.show .top .bottom>p>a:nth-child(1){
	margin-top: 12px;
}
.car>.fanxuan{
	background-color: #f7f8f3;
	margin-top: 30px;
}
.car>.fanxuan>input{
	font-size: 12px;
	display: block;
	float: left;
	margin-left: 12px;
	margin-top: 14px;
}
.car>.fanxuan>a{
	font-size: 12px;
	display: block;
	float: left;
	text-decoration: none;
	color: #1d1d1c;
	margin-left: 12px;
	margin-top: 14px;
}
.car>.fanxuan>span:nth-child(2){
	font-size: 12px;
	display: block;
	float: left;
	margin-left: 12px;
	margin-top: 14px;
}
.car>.fanxuan>span:nth-child(3){
	font-size: 12px;
	display: block;
	float: left;
	margin-left: 12px;
	margin-top: 14px;
}
.car>.fanxuan>a:nth-child(6){
	display: block;
	float: right;
	font-size: 18px;
	background-color: #75b308;
	width: 161px;
	border: 1px solid #9dc659;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-top: 0;
}
.car>.fanxuan>.fxzj{
	display: block;
	float: right;
	font-size: 12px;
	margin-top: 14px;
	color: #ff9783;
	font-weight: 800;
	margin-right: 73px;
}
.car>.fanxuan>span:nth-child(8){
	float: right;
	margin-top: 14px;
	color: #ff9783;
	font-weight: 800;
	display: block;
}
.car>.fanxuan>span:nth-child(9){
	float: right;
	margin-top: 14px;
	font-size: 12px;
	display: block;
}
nav{
	width: 1100px;
	margin: 0 auto;
	background-image: url(../images/logo_04.jpg);
	background-repeat: no-repeat;
	background-position: 488px 5px;
}
nav>.top>a{
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 44px;
	float: left;
	font-size: 12px;
}
nav>.top>a:hover{
	color: #27c6ca;
}
nav>.top>a:first-child{
	margin-left: 16px;
}
nav>.top>a:nth-child(2){
	margin-left: 32px;
	font-size:20px;
	color:red;
}
nav>.top>i{
	color: #ff9a40;
	font-size: 30px;
	float: right;
	margin-right: 7px;
	margin-top: 7px;
}
nav>.top>p{
	float: right;
	font-size: 12px;
	line-height: 44px;
}
nav>.top>p>span{
	color: #ff9a40;
}
nav>.bottom{
	position: relative;
	width: 1100px;
	border-left: 1px solid #cbcbcb;
}
nav>.bottom>i{
	float: left;
	color: #cbcbcb;
	padding:13.8px 15px ;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
}
nav>.bottom>i:hover{
	background-color: #f7f7f3;
}
nav>.bottom>ul{
	width: 810px;
	list-style: none;
	float: left;
}
nav>.bottom>ul>li{
	width: 66px;
	font-size: 12px;
	border-left: 1px solid #cbcbcb;
	line-height: 44px;
	float: left;
	text-align: center;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
}
nav>.bottom>ul>li>a{
	text-decoration: none;
	color: #000;
}
nav>.bottom>ul>li>a:hover{
	color: #27c6ca;
}
nav>.bottom>input{
	width: 242px;
	display: block;
	float: right;
	text-indent: 10px;
	line-height: 42.5px;
	outline: none;
	border: none;
	color: #e3e3e3;
	border:1px solid #cbcbcb;
}
nav>.bottom>ul>li:nth-child(7){
	float: right;
}
nav>.bottom>ul>li:nth-child(8){
	float: right;
}
nav>.bottom>ul>li:nth-child(9){
	padding-top: 44px;
	float: right;
	border-left: 0px;
}
nav>.bottom>ul>li:nth-child(6){
	padding-top: 44px;
	border-right: 0px;
}
.pic{
	width: 975px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 13px;
}
.pic>p{
	font-size: 12px;
	color: #27c6ca;
	float: right;
	margin-top: 20px;
}
.pic>p>span{
	color: #000;
	font-weight: 600;
}
footer{
	width: 100%;
	padding-top: 9px;
	background-image: url(../images/beijing_21.jpg);
}
footer>.bigtop{
	width: 100%;
	background-color: #f6f6f5;

}
footer>.bigtop>.top{
	width: 1100px;
	margin: 0 auto;

}
footer>.bigtop>.top>ul{
	width: 239px;
	margin-top: 100px;
	list-style: none;
	float: left;
	margin-left: 16px
}
footer>.bigtop>.top>ul>li{
	font-size: 12px;
	line-height: 22px;
	color: #bdbdbd;
}
footer>.bigtop>.top>ul>li:nth-child(1){
	color: #1dadeb;
	font-size: 18px;
}
footer>.bigtop>.top>ul>li:nth-child(2){
	margin-top: 10px;
}
footer>.bigtop>.top>ul>li>a{
	overflow: hidden;
	display: block;
	text-decoration: none;
	color: #bdbdbd;
}
footer>.bigtop>.top>ul:nth-child(3)>li>a{
	line-height: 40px;
}
footer>.bigtop>.top>ul>.huaguo{
	width: 123px;
}
footer>.bigtop>.top>ul:nth-child(3)>li>a>img{
	display: block;
	float: left;
	margin-top: 6px;
}
footer>.bigtop>.top>ul:nth-child(3){
	position: relative;
}
footer>.bigtop>.top>ul:nth-child(3)>li:nth-child(6)>img:nth-child(2){
	position: absolute;
	top: 32px;
}
footer>.bigtop>.top>ul:nth-child(3)>li>a>span{
	display: block;
	float: left;
	margin-left: 10px;
}
footer>.bigtop>.top>a{
	float: right;
	display: block;
	width: 118px;
	height: 162px;
	margin-right: 36px;
	margin-top: 114px;
}
footer>.bottom{
	width: 100%;
	background-color: #07c7d3;
	padding-bottom: 200px;
}
footer>.bottom>h3{
	line-height: 140px;
	width: 216px;
	font-size: 26px;
	margin: 0 auto;
	color: #fff;
}
footer>.bottom>ul{
	width: 720px;
	margin: 0 auto;
	list-style: none;
}
footer>.bottom>ul>li{
	line-height: 35px;
	float: left;
}
footer>.bottom>ul>li>a{
	text-decoration: none;
	font-size: 12px;
	display: block;
	width: 60px;
	color: #fff;
}
footer>.bottom>p{
	line-height: 35px;
	margin-top: 26px;
	width: 775px;
	font-size: 12px;
	margin: 0 auto;
	color: #fff;
}
nav>.bottom>.xiala{
	width: 980px;
	position: absolute;
	top: 45px;
	left: 313px;
}
nav>.bottom>.xiala>.one{
	background-image: url(../images/xiala_02.jpg);
	display: table;
	width: 980px;
}
nav>.bottom>.xiala>.one>ul{
	list-style: none;
	display: table-row;
}
nav>.bottom>.xiala>.one>ul>li{
	display: table-cell;
	padding: 30px 0 ;
}
nav>.bottom>.xiala>.one>ul>li>a{
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-align: center;
	color: #000;
}
nav>.bottom>.xiala>.one>ul>li:first-child>a:first-child{
	color: red;
}
nav>.bottom>.xiala>.one>ul>li:first-child>a:nth-child(2):hover{
	color: red;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(2)>a:first-child{
	color: green;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(2)>a:nth-child(2):hover{
	color: green;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(3)>a:first-child{
	color: orange;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(3)>a:nth-child(2):hover{
	color: orange;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(4)>a:first-child{

	color: pink;
}
nav>.bottom>.xiala>.one>ul>li:nth-child(4)>a:nth-child(2):hover{
	color: pink;
}
nav>.bottom>.xiala>.two{
	background-color: #fff;
}
nav>.bottom>.xiala>.two>.first{
	width: 850px;
	margin: 0 auto;
	list-style: none;
}
nav>.bottom>.xiala>.two>.first>li{
	line-height: 40px;
	float: left;
	margin-left: 25px;
}
nav>.bottom>.xiala>.two>.first>li>a{
	text-decoration: none;
	font-size: 12px;
	color: #04d4f5;
}
nav>.bottom>.xiala>.two>.first>li>a:hover{
	color: #fff;
	background-color: #04d4f5;
}
nav>.bottom>.xiala>.two>.second{
	list-style: none;
	width: 915px;
	margin: 0 auto;
}
nav>.bottom>.xiala>.two>.second>li{
	font-size: 12px;
	line-height: 40px;
	float: left;
}
nav>.bottom>.xiala>.two>.second>li a{
	text-decoration: none;
	display: block;
	padding: 11px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 8px;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(2) a{
	background-color: #ff0087;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(3) a{
	background-color: #ff0000;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(4) a{
	background-color: #ff8100;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(5) a{
	background-color: #f4cd00;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(6) a{
	background-color: #fffe09;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(7) a{
	background-color: #00e405;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(8) a{
	background-color: #714b25;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(9) a{
	background-color: #a40cf5;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(10) a{
	background-color: #0200fb;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(11) a{
	background-color: #04d4f5;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(12) a{
	background-color: #fff;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(13) a{
	background-color: #818181;
}
nav>.bottom>.xiala>.two>.second>li:nth-child(2) a{
	background-color: #000000;
}
.xiala>.two>ul{
	list-style: none;
	width: 920px;
	margin: 0 auto;
}
.xiala>.two>ul>li{
	font-size: 12px;
	line-height: 40px;
	float: left;
	margin-left: 20px;
}
.xiala>.two>ul>li a{
	text-decoration: none;
	color: #000;
}
.xiala>.two>ul>li a:hover{
	color: #04d4f5;
}
.xiala>.three{
	background-image: url(../images/xiala_02.jpg);
}
.xiala>.three>a{
	width: 157px;
	text-decoration: none;
	font-size: 20px;
	color: #000;
	line-height: 66px;
	display: block;
	margin: 0 auto;
}
.xiala>.three>a:hover{
	color: #04d4f5;
}
.wrap .bg{
	display: none;
}
.co{
	background-color: #b7b7b7;
}
.col{
	background-color: #f8f8f8;
}
footer .saoma{
	width: 65px;
	height: 65px;
	position: fixed;
	top: 515px;
	left: 1413px;
	border: 1px solid #99d9dd;
}
footer .saoma img{
	display: block;
	margin: 20px 20px ;
}
footer>.bottom>img{
	position: fixed;
	top: 380px;
	left: 1105px;
}
footer .zhiding{
	width: 65px;
	height: 65px;
	position: fixed;
	top: 593px;
	left: 1413px;
	border: 1px solid #99d9dd;
}
footer .zhiding>i{
	font-size: 42px;
	margin-left: 10px;
}
footer .zhiding>span{
	font-size: 16px;
}
.coll{
	color: #cacaca;
}
.color{
	color: #07c7d3;
}
.wrap>span{
	display: block;
	width: 100%;
	height: 200px;
	font-size: 100px;
	color: red;
	text-align: center;
	font-weight: 800;
	margin-top: 100px;
}